.header-logo,
.header-links ul li,
.search-box form > *,
.mini-shopping-cart .item .picture,
.block-popular-tags li, 
.block-popular-blogtags li,
.block-popular-tags li a, 
.block-popular-blogtags li a,
.product-grid .item-box,
.footer-poweredby,
.order-progress ul li,
.order-summary-content .cart-collaterals > *,
.checkout-data .address-grid .address-item,
.order-review-data ul,
.product-sorting,
.pager li,
.product-essential .gallery,
.add-to-cart *,
.product-tags-box .product-tags-list li,
.login-page .new-wrapper,
.captcha-box,
.contact-page .inputs-left,
.giftcard div > *,
.product-details-page .product-variant-line .prices {
    float: right;
}

.header-links-wrapper,
.search-box,
.header-selectors-wrapper,
.header-selectors-wrapper > *,
.footer-disclaimer,
.order-summary-content .totals,
.product-viewmode,
.address-list-page .address-list .address-item .buttons,
.order-list-page .order-list .order-item .buttons,
.product-details-page .overview,
.login-page .returning-wrapper,
.login-page .new-wrapper .buttons,
.login-page .returning-wrapper .buttons,
.contact-page .inputs-right {
    float: left;
}

.block,
.topic-html-content,
.shopping-cart-page .page-title,
.wishlist-page .page-title,
.order-summary-content .cart .cart-item-row td.product,
.wishlist-content .cart .cart-item-row td.product,
.order-summary-content .cart-collaterals > *,
.estimate-shipping .shipping-options .inputs,
.checkout-page .page-title,
.checkout-one-page .page-title,
.checkout-data .address-grid .address-item .address-box,
.checkout-data .enter-address .inputs,
.checkout-data .enter-address .buttons,
.select-shipping-address .title,
.new-shipping-address .title,
.checkout-data .method-list li,
.checkout-data .buttons,
.checkout-data .payment-info .info,
.order-review-data ul,
.checkout-data .order-completed,
.product-filters .filter-title,
.product-list .product-item .product-title,
.account-page .inputs,
.title,
.back-in-stock-subscription-list-page .no-data,
.avatar-page .fieldset,
.avatar-page .buttons,
.avatar-page .info,
.product-details-page .product-name,
.product-details-page .short-description, 
.product-details-page .manufacturers, 
.product-details-page .sku, 
.product-details-page .manufacturer-part-number, 
.product-details-page .stock, 
.product-details-page .gtin,
.product-details-page .product-no-reviews,
.product-details-page .product-essential .prices,
.product-details-page .full-description,
.login-page .inputs,
.text,
.login-page .returning-wrapper .message-error,
.registration-page .inputs,
.accept-privacy-policy,
.contact-page .inputs,
.contact-page .inputs *,
.giftcard div > *,
.attributes dl,
.attributes ul.option-list li {
    text-align: right;
}

.header-selectors-wrapper,
.mini-shopping-cart,
.mini-shopping-cart .totals,
.mini-shopping-cart .buttons,
.contact-page .buttons {
    text-align: left;
}

/* MISCELLANEOUS */

* {
    direction: rtl;
}
.header-links ul:after,
.fieldset .form-fields:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;    
}
.side-2,
.center-2 {
    float: right;
    margin: 0 10px 0 0;
}
.leftside-3 {
    float: right;
    margin: 0 10px 0 0;
}
.center-3 {
    float: right;
    margin: 0 10px 20px 0;
}
.rightside-3 {
    float: left;
}
.captcha-box * {
    direction: ltr !important;
}

/* HEADER */

.admin-header-links {
    left: inherit;
    right: 0;
}
    .admin-header-links .administration {
        border-radius: 0 0 0 10px;
    }
.header-selectors-wrapper,
.search-box {
    clear: left;
}
.header .ico-logout, 
.header .ico-cart, 
.header .ico-wishlist,
.header .ico-login,
.header .ico-register {
    padding: 0 20px 0 0;
    background-position: right center;
}
#flyout-cart {
    right: inherit;
    left: 0;
}
.search-box-text {
    margin: 0 0 0 3px;
}
.mini-shopping-cart .item .product {
    margin: 0 60px 0 0;
}
.header-selectors-wrapper > * {
    margin: 0 5px 0 0;
}

/* HEADER MENU */

    .mega-menu > li,
    .header-menu > ul > li {
        float: right;
    }

    .mega-menu .sublist,
    .header-menu .sublist {
        border-radius: 5px 0 5px 5px;
    }
    .mega-menu .sublist .sublist,
    .header-menu .sublist .sublist { 
        left: auto;
        right: 100%;
        margin-left: auto;
        margin-right: -30px;
    }
    .mega-menu .sublist li a,
    .header-menu .sublist li a{
        padding: 7px 20px 7px 0;
        text-align: right;
    }

/* SHOPPING CART */

.order-summary-content .common-buttons {
    float: right;
    padding: 10px 0 10px 10px;
}
.cart-total-left,
.cart-total-right {
    text-align: left;
}
.cart-total-right {
    padding: 0 5px 0 0;
}
.order-summary-content .checkout-buttons {
    float: left;
    padding: 10px 10px 10px 0;
}
.order-summary-content .deals {
    margin: 0 0 0 20px;
}
.coupon-code > * {
    float: right;
    margin: 0 0 0 5px;
}
.order-summary-content .coupon-box .discount-coupon-code, 
.order-summary-content .giftcard-box .gift-card-coupon-code {
    padding: 1px 3px 1px 1px;
}

/* CHECKOUT PAGE */

.order-review-data ul {
    margin: 0 0 0 20px;
}

/* CATEGORY PAGE */

.breadcrumb ul {
    overflow: hidden;
}
.breadcrumb li {
    float: right;
    margin: 0 0 0 3px;
}
.page-title h1, .page-title h2 {
    text-align: right;
    padding: 5px 0 5px 5px;
}
.product-filters .group {
    float: right;
    margin: 1em 20px 1em 0;
}
    .product-spec-filter .title {
        background: url(../images/rtl-ico-arrow-r.gif) no-repeat right center;
        padding: 0 20px 0 0;
    }
    .product-spec-filter .available-items .item {
        padding: 2px 16px 2px 2px;
        text-align: right;
    }
.product-grid .product-item {
    background: url(../images/rtl-productbox-grid-bg.gif) no-repeat 100% 100%;
}
    .product-grid .product-item .add-info .prices {
        left: 10px;
        right: inherit;
    }
    .product-grid .product-item .add-info .buttons {
        left: inherit;
        right: 10px;
    }
.product-list .product-item {
    background: url(../images/rtl-productbox-list-bg.gif) no-repeat -2px 99%;
}
    .product-list .product-item .picture {
        float: right;
        margin: 40px 10px 10px 0;
    }
    .product-list .product-item .description {
        padding: 0 10px 0 0;
        margin: 50px 140px 0 150px;
        text-align: right;
        border-left: 0;
        border-right: solid 1px #e3e3e3;
    }
    .product-list .product-item .add-info {
        text-align: left;
        left: 5px;
        right: inherit;
    }

/* BLOCK */

.block .listbox ul {
    padding: 0 10px 0 0;
    overflow: hidden;
}

/* ACCOUNT PAGE */

.account-page .inputs select {
    margin: 0 0 0 5px;
}
.address-list-page .address-list .address-item .info,
.order-list-page .order-list .order-item .info {
    float: right;
    text-align: right;
}
.address-list-page .add-button {
    float: left;
    text-align: left;
}

/* PRODUCT PAGE */

.product-details-page .email-a-friend,
.product-details-page .compare-products {
    float: right;
    margin: 5px 0 10px 5px;
}
.product-details-page .product-share-button {
    float: right;
    width: 140px;
}
.data-table th, .data-table td {
    text-align: right !important;
}
.product-tags-box .title,
.product-specs-box .title {
    padding: 10px 0 10px 10px;
}
.product-details-page .product-variant-line .prices {
    margin: 0 0 0 30px;
}

/* LOGIN PAGE */



/* REGISTER PAGE */



/* CONTACT US */



/* REVIEWS */

.product-reviews-page .write-review .inputs,
.product-reviews-page .write-review label,
.product-reviews-page .write-review .buttons {
    text-align: right;
}
.product-reviews-page .write-review label,
.product-reviews-page .review-rating ul {
    float: right;
}

/* GIFT CARD */

.giftcard div label {
    margin: 0 0 0 10px;
}

/* ATTRIBUTES */



/* COLOR SQUARES */



/* BAR NOTIFICATION */

.bar-notification .close {
    float: left;
    margin: 9px 0 0 9px;
}

/* FOOTER */

.footer-disclaimer, 
.footer-poweredby {
    line-height: 22px;
}