<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <Setting Name="SaleCampaignDefaultSettings.WidgetZone">
    <Value>productdetails_top</Value>
  </Setting>
  <Setting Name="SaleCampaignDefaultSettings.FontSize">
    <Value>14</Value>
  </Setting>
  <Setting Name="SaleCampaignDefaultSettings.PaddingSize">
    <Value>8</Value>
  </Setting>
  <Setting Name="SaleCampaignDefaultSettings.ClockType">
    <Value>5</Value>
  </Setting>
  <Setting Name="SaleCampaignDefaultSettings.ClockTextAlign">
    <Value>15</Value>
  </Setting>
  <Setting Name="SaleCampaignSettings.SaleCampaignScheduledTaskIntervalSeconds">
    <Value>600</Value>
  </Setting>
  <Setting Name="SaleCampaignPluginSettings.EnableSaleCampaigns">
    <Value>true</Value>
  </Setting>
</Settings>